body {
    font-family: Arial, sans-serif;
    background: #e9ecef;
    margin: 0;
    padding: 40px 0;
}

/* ======== TOP HEADER BAR ======== */
.top-header {
    background: #18688a;
    padding: 15px 10px;
    height: 80px;
}

.header-inner {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
}

.zra-logo {
    width: 130px;
    height: auto;
    margin-left: 170px;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d4a843;
}

.top-nav {
    display: flex;
    gap: 20px;
    margin-right: 150px;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
}

.top-nav a:hover {
    color: #d4a843;
}

/* ======== MAIN NAVIGATION BAR ======== */
.main-nav {
    background: #b8963e;
}

.nav-inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 50px;
    padding-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    padding: 14px 12px;
    letter-spacing: 0.5px;
    transition: background 0.2s;
}

.main-nav a:hover {
    background: #a07e30;
}



/* MAIN CARD */
.main-card {
    width: 600px;
    margin: auto;
    background: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* HEADER */
h1 {
    background: #dcdcdc;
    padding: 20px;
    border-radius: 8px;
    font-weight: normal;
}

/* LABELS */
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* ROWS (LEFT + RIGHT TEXT) */
.row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.bold {
    font-weight: bold;
}

/* NET SALARY BOX */
.net-box {
    background: #dcdcdc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

/* TABLE */
.table-title {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
}

table th {
    background: #e2e2e2;
}

/* NOTE */
.note {
    margin-top: 15px;
    font-size: 13px;
}

/* BUTTON */
.btn-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #2e6da4;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #204d74;
}
